
@media screen and (min-width: 600px) and (max-width: 1007px){
    .topic-section .topics .Read-More{
        bottom: 25%;
        left: 40%;
        width: 150px;
    }
}

@media screen and (min-width: 1008px){
    .topic-section .topics .Read-More{
        bottom: 3%;
        left: 25%;
        width: 150px;
    }
}

@media screen and (min-width: 1008px){
    .topic-section{
    display: flex;
    flex-direction: row;
    padding: 3% 33.5%;
    opacity: 0.6;
    margin-bottom: 0px;
    }
}

@media screen and (min-width: 1008px){
    .topic-section .topics{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 220px;
    background-color: whitesmoke;
    }
}

@media screen and (min-width: 1008px){
    .topic-section .topics >div img{
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        top: -18%;
        left: 85%;
              
     
    }
}

@media screen and (min-width: 1008px){
    .topic-section .topics >div h3{
        text-align: center;
        width: 140%;
        margin-left: -32%;
        margin-top: -6%;
     
    }
}

@media screen and (min-width: 1008px){
    .topic-section .topics >div p{
        text-align: center;
        width: 135%;
        margin-left: -28%;
        margin-top: 1%;
    }
}


@media screen and (min-width: 600px) and (max-width: 1007px){
    body{
        background-color: #e2eafa;
        
    }
}


@media screen and (min-width: 1008px){
    body{
        background-color: white;
        
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .topmost{
        background-color: inherit;
        margin-bottom: 0px;
        width: 100%;
        
    }
}


@media screen and (min-width: 600px){
    .top-background{
        background-image: url(./images/study.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: initial;
        
        
    }
}


@media screen and (max-width: 599px){
    #logo{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    margin: 20px 0px;
    width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    #logo{
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    margin: 20px 0px;
    width: 500px;
    background: inherit;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .topnav .dropbtn{
    width: 95%;
    }
}




@media screen and (min-width: 600px) and (max-width: 1007px){
    .litaf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    opacity: 0.8;
    }
}

@media screen and (min-width: 1008px){
    .litaf{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    opacity: 0.8;      
    margin-top: 0px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .litaf .literature h2{
    width: 100%;
    }
}

@media screen and (min-width: 1008px){
    .litaf .literature h2{
    width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .litaf .literature p{
    width: 100%;
    }
}

@media screen and (min-width: 1008px){
    .litaf .literature p{
    width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .litaf .literature li{
    width: 100%;
    }
}

@media screen and (min-width: 1008px){
    .litaf .literature li{
    width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .affiliates{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: whitesmoke;
    
    }
}


@media screen and (min-width: 1008px){
    .literature{
        flex: 60%; 
        padding-left: 8%;
        
    }
}
@media screen and (min-width: 1008px){
    .affiliates{
    flex: 40%;
    margin-top: 80px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: whitesmoke;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
        }
}


@media screen and (min-width: 1008px){
    .affiliates >div {
    width: 37%;
        
    }
}

@media screen and (min-width: 1008px){
    .affiliates img{
        padding-top: 0px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1007px){
    .brief .More{
        margin-top: 30px;
        margin-left: -5.5%;
        width: 75%;
        height: 100%;
        padding: 15px 25px;
        color: #003399;
        font-size: 13.5px;
        font-weight: bolder;
        line-height: 1.3rem;
        background-color: rgba(55, 39, 135, 0.05);
        border: 0.5px solid #003399;
        cursor: pointer;
        text-align: left;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .brief h2{
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    .brief p{
        width: 60%;
        font-size: 20px;
        padding-bottom: 15%;
    }
}

@media screen and (min-width: 1008px){
    .brief p{
        width: 40%;
        font-size: 20px;
        line-height: 1.8rem;
        padding-bottom: 10%;
    }
}

@media screen and (min-width: 600px){
    .News{
        flex-direction: row;
        display: flex;
        width: 100%;     
    }
}

@media screen and (min-width: 600px){
    .News #One p{
       border-bottom: none;        
       width: 80%;
    }
}


@media screen and (min-width: 600px){
    .News #Two p{
       border-bottom: none;    
       width: 80%;    
    }
}

@media screen and (min-width: 600px){
    .News #Three p{
       border-bottom: none;        
       width: 80%;
    }
}


@media screen and (min-width: 600px){
    #footer{
        flex-direction: row;
        height: 100%;
        
    }
}

@media screen and (min-width: 600px) and (max-width: 107px){
    #footer .blocks{
        flex: 30%;
        width: 100%;
    }
}


@media screen and (min-width: 600px) and (max-width: 1007px){
    #footer .blocks p{
       width: 150px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1007px){
    #footer .blocks img{
       transform: scale(0.6);
       margin-left: -40%;
       margin-top: -10px;
    }
}



@media screen and (min-width: 600px) and (max-width: 1007px){
    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0px;
        padding-top: 15px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1007px){
    .topnav .Wrap .dropdown-content{
        width: 95%;
}
}